/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $bs-font-sans-serif;
  background-color: $base-body-bg;
}

a {
  color: #f8f9fa;
  text-decoration: none;
}

button {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.logo-text-first {
  top: 0.4rem;
  left: 0.2rem;
  text-transform: capitalize;
}

.logo-text-second {
  top: 1.4rem;
  text-transform: capitalize;
}

// test CSS

:root {
  --bs-danger-text-emphasis: #e85748;
  --bs-focus-ring-color: #007a95;
}

.partner-logo-wrapper {
  width: 7rem;
}

@media screen and (max-width: 768px) {
  .button-wrapper a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .button-wrapper a:hover {
    margin-left: 1rem;
  }
}

.form-control,
.form-select {
  background-color: #f8f5f1;
}

@media screen and (min-width: 992px) {
  img {
    width: 20rem;
    top: -7rem;
    left: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  img {
    width: 20rem;
    top: -7rem;
    left: 29rem;
  }
}

@media screen and (min-width: 1400px) {
  img {
    width: 20rem;
    top: -8rem;
    left: 33rem;
  }
}
