/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: $bs-font-sans-serif;
  background-color: $base-body-bg;
}

a {
  color: #f8f9fa;
  text-decoration: none;
}

button {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.logo-text-first {
  top: 0.4rem;
  left: 0.2rem;
  text-transform: capitalize;
}

.logo-text-second {
  top: 1.4rem;
  text-transform: capitalize;
}

// test CSS

:root {
  --bs-focus-ring-color: #ff1540;
}

.partner-logo-wrapper {
  width: 7rem;
  height: 7rem;
}

.form-control,
.form-select {
  background-color: #f8f5f1;
}
