/** @format */

@use "sass:math";

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "custom-3": $base-spacing * 0.75,
    ),
  ),

  // "gap": (
  //   "prefix": "gap",
  //   "values": (
  //     "",
  //   ),
  // )
  "font-style":
    (
      "prefix": "font",
      "values": (
        "uppercase": uppercase,
      ),
    ),

  "font-size": (
    "prefix": "font",
    "values": (
      "sx": $base-font-size / 1.3,
      "sm": $base-font-size * 2.7,
      "md": $base-font-size * 4,
      "xxxl": $base-font-size * 23,
    ),
  ),

  "font-family": (
    "prefix": "font",
    "values": (
      "base": $bs-font-sans-serif,
      "main-title": $main-title,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}

// @debug map-get($utilities, "font");
